<html>
  <head>
    <title>AFJV Feed : Accédez aux offres d'emploi des industries multimédia et jeux vidéo qui vous intéressent</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script type="text/javascript" src="/scripts/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery_checkall_1_0_forjquery_1_4_2_head.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-537852-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1>AFJV FEED</h1>
    <p>Remplissez le formulaire pour filtrer le flux RSS "emploi et stage" du site <a href="http://www.emploi.afjv.com/">AFJV</a>.</p>
    <p>S&eacute;lectionnez au moins un champ de chaque cat&eacute;gorie (exemple : Emploi et D&eacute;veloppement).</p>
    <p style="text-align: right;"><a href="mailto:cravesoft@gmail.com">Signalez un problème</a></p>
    <form action="/" method="post">
    {% for fieldset in fieldsets %}
    <fieldset>
      <legend>{{ fieldset.legend }}</legend>
      <p>
        <input type="checkbox" class="parentCheckBox" />Tous<br />
        {% for input in fieldset.inputs %}
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="{{ input.type }}" name="{{ input.name }}" class="childCheckBox" />{{ input.value }}<br />
        {% endfor %}
      </p>
	  </fieldset>
    {% endfor %}
    <p><input type="submit" value="G&eacute;n&eacute;rer le flux" /></p>
    </form>
	</body>
</html>
<script>
